@{
    ViewData["Title"] = "Anuncie Aqui";
}
<h1>@ViewData["Title"]</h1>


<img src="/img/adv.jpg" />
        

<table class="table">
    <thead>
        <tr>
            <th>Plano</th>
            <th>Vantagens</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Exclusivo</td>
            <td>Anúncio 900x200px em todas as páginas</td>
            <td><strong>$500,00/mês</strong></td>
        </tr>
        <tr>
            <td>Padrão</td>
            <td>Anúncio 300x400px na página principal</td>
            <td><strong>$150,00/mês</strong></td>
        </tr>
        <tr>
            <td>Básico</td>
            <td>Anúncio 300x100px na página principal</td>
            <td><strong>$50,00/mês</strong></td>
        </tr>
    </tbody>
</table>
