@{
    ViewData["Title"] = "Home Page";
}
@model List<Noticia>

<div class="row">
    <section class="col-9">
        @foreach (Noticia item in Model)
        {
            <article>
                <h2 class="amazon">@item.titulo</h2>
                <p class="pb-1"><small>@item.data</small></p>
                <p>@item.texto</p>
            </article>
        <hr />
        }
        
    </section>

    <aside class="EerieBlack col-3">
        <a href="/Home/Anuncie"><img class="w-100" src="img/anuncie.jpg" alt="Anuncie Aqui"></a>
    </aside>

    </div>
